.feedback {
    padding: 128px 0 199px;

    .section-title {
        margin-bottom: 91px;
        text-align: center;
    }

    .flex {
        justify-content: center;
    }

    .card {
        max-width: 668px;
        width: 60%;
        padding: 49px 25px 39px 62px;

        @include breakpoint("lg") {
            width: 50%;
        }

        @include breakpoint("md") {
            width: 100%;
        }

        &__title {
            margin-bottom: 8px;
        }

        &__text {
           margin: 0;
        }
    }

    &__img-holder {
        width: 40%;

        @include breakpoint("lg") {
            width: 50%;
        }

        @include breakpoint("md") {
            width: 100%;
        }
    }

    .icon-quote {
        padding-right: 15px;
        font-size: 25px;
    }
}